/*******************************
		Main App Styles
 *******************************/

 * {
	 font-family: 'Source Sans Pro', sans-serif;
	 color: rgb(36, 36, 36);
	 font-size: 20px;
	 margin: 0;
	 padding: 0;
 }

 h1 {
	 font-weight: 600;
	 font-size: 38px;
 }

 h2 {
	 font-weight: 600;
	 font-size: 30px;
 }

 p {
	 font-size: 13px;
	 font-weight: 500;
	 text-align: center;
	 text-transform: uppercase;
	 letter-spacing: 1.5px;
 }

 #site-header {
	padding: 40px 0;
 }

#site-header h1 {
	margin-left: 40px;
}

#main {
	padding: 30px 0;
}

#main h2 {
	margin-left: 40px;
}

.site-footer {
	padding: 40px 0;
 }

.site-footer p {
	color: #fff;
	 margin-left: 40px;
 }